<div class="dropdown relative" [ngClass]="extendClass">
  <div
    class="dropdown cursor-pointer"
    (click)="toggleMenu()"
    (appClickOutside)="clickedOutside()">
    <a class="block w-12 h-12 ml-2 rounded-md overflow-hidden">
      <img
        [src]="'https://akademi.dexignlab.com/xhtml/images/user.jpg'"
        alt="profile" />
    </a>
  </div>

  @if (isMenuOpened) {
    <div class="dropdown__menu absolute right-0 bg-white mt-2 w-56 shadow-xl">
      <div
        class="dropdown__menu-header flex items-center p-3 border-b border-b-neutral-400">
        <div class="w-12 h-12 mr-2 rounded-md overflow-hidden">
          <img
            src="https://akademi.dexignlab.com/xhtml/images/user.jpg"
            alt="profile" />
        </div>
        <div class="text-slate-800 font-bold">
          <div class="name">{{ user()?.firstName }} {{ user()?.lastName }}</div>
          <div class="role font-light text-sm">{{ getRoles() }}</div>
        </div>
      </div>
      <div class="dropdown__menu-body p-3">
        @for (item of actionItems; track item) {
          <a
            class="block bg-white p-1 mb-1 rounded-md text-slate-800 text-slate-500 hover:bg-slate-300"
            (click)="handleActionClick(item)">
            {{ item }}
          </a>
        }
      </div>
      <div class="dropdown__menu-footer p-3 border-t border-t-neutral-400">
        <a class="btn">Logout</a>
      </div>
    </div>
  }
</div>
