<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <h3 class="text-center text-2xl text-slate-800 font-bold mb-6">Sign up</h3>

  <div class="mb-4">
    <label class="label" for="firstName">First name</label>
    <input
      id="firstName"
      placeholder="First name"
      type="firstName"
      class="input"
      formControlName="firstName" />
    @if (registrationForm.controls['firstName']; as firstName) {
      @if (firstName.dirty) {
        <app-input-error [errors]="firstName.errors"></app-input-error>
      }
    }
  </div>
  <div class="mb-4">
    <label class="label" for="lastName">Last name</label>
    <input
      id="lastName"
      placeholder="Last name"
      type="lastName"
      class="input"
      formControlName="lastName" />
    @if (registrationForm.controls['lastName']; as lastName) {
      @if (lastName.dirty) {
        <app-input-error [errors]="lastName.errors"></app-input-error>
      }
    }
  </div>
  <div class="mb-4">
    <label class="label" for="email">Email</label>
    <input
      id="email"
      placeholder="Email"
      type="email"
      class="input"
      formControlName="email" />
    @if (registrationForm.controls['email']; as email) {
      @if (email.dirty) {
        <app-input-error [errors]="email.errors"></app-input-error>
      }
      @if (email.pending) {
        <div class="input-pending">pending...</div>
      }
    }
  </div>
  <div class="mb-4">
    <label class="label" for="gender">Gender</label>

    <select id="gender" required class="input" formControlName="gender">
      @for (gender of Gender | stringEnumToArray; track gender.value) {
        <option [value]="gender.value">{{ gender.key }}</option>
      }
    </select>
    @if (registrationForm.controls['gender']; as gender) {
      @if (gender.dirty) {
        <app-input-error [errors]="gender.errors"></app-input-error>
      }
    }
  </div>
  <div class="mb-4">
    <label class="label" for="role">Role</label>

    @if (roles$ | async; as roles) {
      <select id="role" required class="input" formControlName="role">
        @for (role of roles; track role.value) {
          <option [value]="role.value">{{ role.value }}</option>
        }
      </select>
    } @else {
      <p>Skills loading...</p>
    }
    @if (registrationForm.controls['role']; as role) {
      @if (role.dirty) {
        <app-input-error [errors]="role.errors"></app-input-error>
      }
    }
  </div>
  <div class="mb-4">
    <label class="label" for="phone">Phone</label>
    <input
      id="phone"
      placeholder="Phone"
      type="phone"
      class="input"
      formControlName="phone" />
    @if (registrationForm.controls['phone']; as phone) {
      @if (phone.dirty) {
        <app-input-error [errors]="phone.errors"></app-input-error>
      }
    }
  </div>
  <div class="mb-4">
    <label class="label" for="password">Password</label>
    <input
      id="password"
      placeholder="Password"
      type="password"
      class="input"
      formControlName="password" />
    @if (registrationForm.controls['password']; as password) {
      @if (password.dirty) {
        <app-input-error [errors]="password.errors"></app-input-error>
      }
    }
  </div>
  <div class="mb-4">
    <button class="btn w-full" [disabled]="!registrationForm.valid">
      Confirm
    </button>
  </div>
  <div class="text-center text-sm">
    <span
      >Already have an account
      <a routerLink="/auth/login" class="font-bold underline hover:no-underline"
        >Sign in</a
      ></span
    >
  </div>
</form>
