/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-200 text-slate-600;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .label {
    @apply mb-1 text-slate-800
  }

  .input {
    @apply w-full rounded-md bg-white text-slate-800 p-2 outline-none border focus:border-slate-800 placeholder:text-gray-500;
  }

  .input-error {
    @apply text-sm p-2 py-1 text-red-500
  }

  .input-pending {
    @apply text-sm p-2 py-1 text-green-500
  }

  .link {
    @apply block mb-1 text-slate-50 p-2 rounded-md hover:bg-gray-600
  }

  .btn {
    @apply block bg-slate-300 p-2 rounded-md text-slate-800 text-center font-medium cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed hover:bg-slate-800 hover:text-white;
  }

  .custom-table {
    @apply overflow-x-auto
  }

  .custom-table .table {
    @apply table-fixed w-full #{!important}
  }

  .custom-table .table__header-cell {
    @apply bg-slate-300 font-bold whitespace-nowrap #{!important}
  }

  .custom-table .mat-mdc-header-cell.center,
  .custom-table .mat-mdc-header-cell.center .mat-sort-header-container,
  .custom-table .mat-mdc-cell.center {
    @apply text-center justify-center #{!important}
  }

  .custom-table .table__header-cell.right,
  .custom-table .table__header-cell.right .mat-sort-header-container,
  .custom-table .mat-mdc-cell.right{
    @apply text-right justify-end #{!important}
  }

  .custom-table .mat-mdc-row {
    @apply hover:bg-slate-300
  }
}

@layer utilities {
  .link-active {
    @apply bg-gray-600
  }
}
